.bg-black{
    background-color: black;
}
.text-black{
    color: black;
}
.c-shadow{
    border: 1px solid #E0E0E0;
    box-shadow: 0px 2px 2px rgba(188, 188, 188, 0.4);
    border-radius: 4px;
}
.bd-example input[type="checkbox"]{
    width: 18px;
    height: 18px;
}

.bd-example input[type="radio"]{
    width: 20px;
    height: 20px;
}
.c-color-input::after{
    background-color: black !important;
}
.fix-botton{
    box-shadow: 0px -2px 4px rgba(128, 128, 128, 0.24);
    bottom: 0;
}
.bg-blue,.modal-footer button{
    background: #1C64BC !important;
    border-color: #1C64BC !important;
}